

<div class="projects-container">

    <div class="section-container">
        <h3 class="section-header">Ideas:</h3>
            {{#each user.ideas}}
                <div class="project-card">
                    <h3 class='project-name'>{{this.name}}</h3>
                    <p class="project-description">{{this.description}}</p>
                </div>
            {{/each}}

    </div>
    <div class="section-container">
        <h3 class="section-header">Brainstorming:</h3>

    </div>
    <div class="section-container">
        <h3 class="section-header">Development:</h3>        

    </div>
    <div class="section-container">
        <h3 class="section-header">Debugging:</h3>

    </div>
    <div class="section-container">
        <h3 class="section-header">Production:</h3>

    </div>
    <div class="section-container">
        <h3 class="section-header">Enhancements:</h3>

    </div>

</div>