

<div class="form-container">
    <h2 class="form-header">Add A Project</h2>
    <form class="projects-form" action="/projects" method="post">
        <label for="name">Project Title</label>
        <input type="text" name="name" class="form-input">
        <label for="description">Project Description</label>
        <input type="text" name="description" class="form-input">
        <label for="repoLink">Repo Link</label>
        <input type="text" name="repoLink" class="form-input">
        <button type="submit" class="form-btn">Add</button>
    </form>
</div>