<div class="auth-container">
    <h1 class="auth-header">Welcome!</h1>
    <p class="auth-byline">Let's Get You Signed Up.</p>

    <form action="/signup" class="auth-form" method="post">
        <div class="label-flex">
            <label for="username" class="auth-label">Username</label>
        </div>
        <input type="text" name="username" placeholder="Username goes here ..." class="auth-input">
        <div class="label-flex">
            <label for="email" class="auth-label">Email</label>
        </div>
        <input type="text" placeholder="Email goes here ..." class="auth-input" name="email">
        <div class="label-flex">
            <label for="password" class="auth-label">Password</label>
        </div>
        <input type="password" name="password" class="auth-input" placeholder="Password goes here ...">
        <div class="label-flex">
            <label for="confirmPassword" class="auth-label">Password</label>
        </div>
        <input type="password" name="confirmPassword" class="auth-input" placeholder="Please Confirm Your Password ...">
        <button type="submit" class="auth-btn">Sign Up</button>
    </form>

</div>