
<div class="auth-container">
    <h1 class="auth-header">Welcome Back!</h1>
    <p class="auth-byline">Get Signed In.</p>

    <form action="/signin" class="auth-form" method="post">
        <div class="label-flex">
            <label for="username" class="auth-label">Username</label>
        </div>
        <input type="text" placeholder="Username goes here ..." class="auth-input" name="username">
        <div class="label-flex">
            <label for="password" class="auth-label">Password</label>
        </div>
        <input type="password" class="auth-input" placeholder="Password goes here ..." name="password">
        <button type="submit" class="auth-btn">Sign In</button>
    </form>

</div>