/* ---
Main Layout Styles
(nav, body, etc.) 
---*/

.nav-container {
    width: 100%;
    margin: 0px;
    border-bottom: solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.nav-btn {
    margin-right: 8px;
    border: solid black;
    padding: 8px;
    font-size: .8em;
    text-decoration: none;
}

.nav-btn:active {
    text-decoration: none;
}



/* ---
Projects index styles 
---*/

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.section-container {
    display: flex;
    flex-direction: column;
    border: solid black;
    padding: 16px;
    width: 356px;
    margin-top: 32px;
}


/* ---
Projects Form styles 
---*/

.form-container {
    margin: auto;
    margin-top: 208px;
    border: solid black;
    padding: 16px;
    padding-bottom: 80px;
    width: 50%;
}

.projects-form {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: auto;

}

.form-input {
    padding: 8px;
    font-size: .8em;
    margin-top: 8px;

}

.form-btn {
    width: 64px;
    margin-left: 304px;
    margin-top: 8px;

}

/* ---
Styling For Projects on Index page
---*/

.project-card {
  display: flex;
  flex-direction: column; 

}

.project-name {
    margin-bottom: -8px;
}

/* ---
Styling for Auth Forms (sign in && sign up)
---------------*/


.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.auth-header {
    margin-bottom: 0px;
}

.auth-byline {
    margin-top: 0px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;    

}

.auth-input {
    width: 200px;
    padding: 8px;
    font-size: 1em;
}

.label-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 200px;
    margin-top: 16px;
    margin-bottom: 4px;
}